@media only screen and (min-width:481px) {
body {
    background-color: white;
    color: gray; 
    background-image: url(background.jpg);
    background-repeat: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
    width: 80%;
    background-color: #90C7E3;
    box-shadow: 10px 10px 5px #888888;
    min-width: 960px;
    margin: 0 auto; 
}
header h1 {
    background-color: #000033;
    background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    padding: 10px;
    color: white;
    font-family: Georgia, "Times New Roman", serif;
    margin-bottom: 0;
}
#main {
    display: table;
    padding: 0;
}
#main nav {
    display: table-cell; 
    background-color: skyblue;
    font-weight: bold;
    padding: 0;
}
#main nav ul {
    list-style-type: none;
}
#main nav ul li { 
    font-size: 1.2em;
    margin: 0;
    padding-left: 0;
}
#main nav ul li a {
    text-decoration: none; 
}
#main nav ul li a:link    {color: #000033;}
#main nav ul li a:visited {color: #344873;}
#main nav ul li a:hover   {color: white;}
#main section {
    display: table-cell;
    padding: 0;
}
#floatleft {
    float: left;
    margin-right: 10px;
}
img {
    width: 200px;
    height: 150px;
}
#main section h2 {
    color: mediumblue;
    text-shadow: 2px 2px black;
    font-family: Georgia, "Times New Roman", serif; 
}
.resort {
    color: darkblue;
    font-weight: bold;
}
#main section ul {
    list-style-position: inside;
}
#contact {
    clear: both;
}
address {
    font-size: 90%;    
}
footer {
    font-size: 75%;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
}
h3 {
    font-weight: bold;
    color: #000033;
    font-family: Georgia, "Times New Roman", serif;
}
label {
    float: left;
    width: 150px;
    text-align: right;
}
.asterisk {
    color: red;
}
#anim_img_align { 
    width: 68px;
    height: 61px;
    animation-name: anim_img_align;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -moz-animation: anim_txt_align 5s 1 forwards; /* Firefox */
    -webkit-animation: anim_txt_align 5s 1 forwards; /* Safari, Opera, and Chrome */
}
/* anim_img_align */
@keyframes anim_img_align
{
from {margin-left: 0%;}
to   {margin-left: 90%;}
}
@-moz-keyframes anim_txt_align /* Firefox */
{
from {margin-left: 0%;}
to   {margin-left: 90%;}
}
@-webkit-keyframes anim_txt_align /* Safari, Opera, and Chrome */
{
from {margin-left: 0%;}
to   {margin-left: 90%;}
}

} /* end of @media only screen and (min-width:481px) */



@media only screen and (max-width:480px) {
body {
    background-color: white;
    color: gray; 
    background-image: url(background.jpg); 
    background-repeat: repeat-x; 
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
    /* width: 80%; */
    width: 100%; /* * */
    background-color: #90C7E3;
    box-shadow: 10px 10px 5px #888888;
    /* min-width: 960px; */
    margin: 0 auto; 
}
header h1 {
    background-color: #000033;
    /* background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    background-position: right; */
    padding: 10px;
    color: white;
    font-family: Georgia, "Times New Roman", serif;
    margin-bottom: 0;
}
#main {
    display: table;
    padding: 0;
}
#main nav {
    /* display: table-cell; */
    display: table-row; /* * */
    background-color: skyblue;
    font-weight: bold;
    text-align: center; /* * */
    padding: 0;
}
#main nav ul {
    list-style-type: none;
}
#main nav ul li { 
    font-size: 1.2em;
    margin: 0;
    padding-left: 0;
    height: 3em; /* * */
}
#main nav ul li a {
    text-decoration: none; 
}
#main nav ul li a:link    {color: #000033;}
#main nav ul li a:visited {color: #344873;}
#main nav ul li a:hover   {color: white;}
#main section {
    /* display: table-cell; */
    display: table-row; /* * */
    padding: 0;
}
#floatleft {
    float: left;
    margin-right: 10px;
}
img {
    /* width: 200px;
    height: 150px; */
    display: none; /* * */
}
#main section h2 {
    color: mediumblue;
    text-shadow: 2px 2px black;
    font-family: Georgia, "Times New Roman", serif; 
}
.resort {
    color: darkblue;
    font-weight: bold;
}
#main section ul {
    list-style-position: inside;
}
#contact {
    clear: both;
}
address {
    font-size: 90%;    
}
footer {
    font-size: 75%;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
}
h3 {
    font-weight: bold;
    color: #000033;
    font-family: Georgia, "Times New Roman", serif;
}
form {
    width: 100%;    
}
label {
    float: left;
    width: 150px;
    text-align: right;
}
.asterisk {
    color: red;
}
#anim_img_align { 
    width: 68px;
    height: 61px;
    animation-name: anim_img_align;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -moz-animation: anim_txt_align 5s 1 forwards; /* Firefox */
    -webkit-animation: anim_txt_align 5s 1 forwards; /* Safari, Opera, and Chrome */
}
/* anim_img_align */
@keyframes anim_img_align
{
from {margin-left: 0%;}
to   {margin-left: 90%;}
}
@-moz-keyframes anim_txt_align /* Firefox */
{
from {margin-left: 0%;}
to   {margin-left: 90%;}
}
@-webkit-keyframes anim_txt_align /* Safari, Opera, and Chrome */
{
from {margin-left: 0%;}
to   {margin-left: 90%;}
}
    
} /* @media only screen and (max-width:480px) */
